{% load static %}

<a href="{% url 'small:article' %}" class="btn btn-warning">Articles</a>&nbsp;&nbsp;
<p class="font-weight-bold text-dark">Pages <i class="fa fa-angle-double-right"></i></p>&nbsp;&nbsp;&nbsp;
<a href="{% url 'small:page1' %}" class="card-link">Page 1</a>
<a href="{% url 'small:page2' %}" class="card-link">Page 2</a>
<a href="{% url 'small:page3' %}" class="card-link">Page 3</a>
<a href="{% url 'small:page4' %}" class="card-link">Page 4</a>
<a href="{% url 'small:page5' %}" class="card-link">Page 5</a>
<a href="{% url 'small:page6' %}" class="card-link">Page 6</a>
<a href="{% url 'small:page7' %}" class="card-link">Page 7</a>